

  <div class="row">
    <div class="col-12">
      <div class="card">
   
        <div class="card-content">
          <div class="card-body card-dashboard">
          </div>
          <div class="table-responsive">
            <table class="table mb-0">
              <thead class="bg-info text-white">
                <tr>
                  <th> Id</th>
                  <th>Name </th>
                  <th>Abrivation</th>
                  <th></th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ac of itemservice.list"  >
                  <td>{{ac.ItemId}}</td>
                  <td>{{ac.ItemName}}</td>
                  <td>{{ac.Abrivation}}</td>
      
                  <td>
                    <button class="btn btn-ifno btn-sm">Eidt</button>
                    <button class="btn btn-danger btn-sm">Delete</button>
                    
                  </td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
