            
                                    <div class="form-body">
                                      <div class="table-responsive">
                                          <table class="table mb-0">
                                              <thead class="bg-info text-white form-group">
                                              <tr>
                                                  <th> Id</th>
                                                  <th>Code </th>
                                                  <th>Type </th>

                                                  <th>Description</th>
                                                  <th> </th>
                                          
                                              </tr>
                                              </thead>
                                          <tbody>
                                              <tr  *ngFor="let ac of currencyTypeService.currencyTypeList">
                                      
                                                <td>{{ac.CurrencyId}}</td>
                                                <td (click)="editForm(ac)">{{ac.Code}}</td>
                                                <td>{{ac.Type}}</td>

                                                <td>{{ac.Description}}</td>
                                      
                                              <td>
                                                <button type="button" class="btn btn-ifno btn-sm" (click)="editForm(ac)">Eidt</button>
                                                <button class="btn btn-danger btn-sm" type="button" (click)="delete(ac.CurrencyId)" >Delete</button>
                                                
                                                </td>
                                            
                                         
                                          </tr>
                                       
                                          
                                          </tbody>
                                          </table>
                                          </div>
                              
                                    
                                </div>