<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Tola</th>
      <th>Gram</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">24</th>
      <td>{{goldRateService.goldRates.K24Tola}}</td>
      <td>{{goldRateService.goldRates.K24}}</td>
    </tr>
    <tr>
        <th scope="row">22</th>
      <td>{{goldRateService.goldRates.K22Tola}}</td>
      <td>{{goldRateService.goldRates.K22}}</td>
    </tr>
    <tr>
        <th scope="row">21</th>
      <td>{{goldRateService.goldRates.K21Tola}}</td>
      <td>{{goldRateService.goldRates.K21}}</td>
    </tr>
    <tr>
        <th scope="row">18</th>
      <td>{{goldRateService.goldRates.K18Tola}}</td>
      <td>{{goldRateService.goldRates.K18}}</td>
    </tr>
  </tbody>
</table>