<!-- <nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink='/home'>Home</a></li>

      <li><a routerLink='/account'>Account Master</a></li>
    </ul>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li  *ngIf="userService.roleMatch(['Admin'])">
        <a routerLink="/adminPanel">Admin Panel</a>
      </li>
      <li>
        <a (click)="Logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav> -->
<app-navbar></app-navbar>
  <br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">User Profile</h4>
          <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
              <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
              <li><a data-action="close"><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body card-dashboard">
            <p class="card-text"> This is a default dashboard of your  <code>Profile</code> .</p>
          </div>
          
           <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-10">
              <span>Username :{{userClaims.UserName}}</span>
              <br>
              <span>Email : {{userClaims.Email}}</span>
              <br>
              <span>Full Name : {{userClaims.FirstName}} {{userClaims.LastName}}</span>
              <br>
              <span>Logged On : {{userClaims.LoggedOn}}</span>
              <br>
              <br>
           
             </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>

</div>