<!-- <h2>My favorite hero is: {{message}}</h2> -->
<div class="form-body">
   

        <input class="form-control" type="text" name="search"  >      

  <div class="table-responsive">

      <table class="table mb-0">
          <thead class="bg-info text-white form-group">
          <tr>
              <th> Id</th>
              <th>Code </th>
              <th>Description</th>
              <th>StandredPurity</th>

              <th> </th>
      
          </tr>
          </thead>
      <tbody>
          <!-- <tr  *ngFor="let ac of karatservices.list | orderBy: key : reverse | filter:keycode | filter:filter | paginate: { itemsPerPage: 3, currentPage: p }; let i = index"> -->
            
          <tr  *ngFor="let ac of karatservices.list" >
          <td >{{ac.KaratMasterId}}</td>
          <td>{{ac.KaratCode}}</td>
          <td>{{ac.Description}}</td>
          <td>{{ac.StandredPurity}}</td>

          <td>
            <button class="btn btn-ifno btn-sm" type="button" (click)="edit(ac)">Eidt</button>
            <button class="btn btn-danger btn-sm" type="button" (click)="delete(ac.KaratMasterId)">Delete</button>
            
            </td>
        
     
      </tr>
  
      
      </tbody>
      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
      </table>
      </div>





</div>